@media (max-width: 1000px) {
    .logo-container {
        width: 50%;
    }
    .btn {
        text-align: center;
        width: 100%;
        display: flex;
        flex: 0;
    }
}

@media (max-width:670px) {
    .btn {
        text-align: center;
        width: 100%;
        display: flex;
        flex: 0;
    }
}
